[Unit]
Description=nomad agent
Requires=network-online.target
After=network.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/nomad agent -config=/etc/nomad.d/server.hcl
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
