data_dir  = "/opt/nomad"

advertise {
  {% set addr = ansible_all_ipv4_addresses|ipaddr('172.10.10.0/24')|first -%}
  http = "{{ addr }}"
  rpc  = "{{ addr }}"
  serf = "{{ addr }}"
}

client {
  enabled = true
}