http:
  routers:
    consul:
      rule: "Host(`consul.{{ ansible_eth0.ipv4.address }}.nip.io`)"
      service: consul
    nomad:
      rule: "Host(`nomad.{{ ansible_eth0.ipv4.address }}.nip.io`)"
      service: nomad
  services:
    consul:
      loadBalancer:
        servers:
        {% for host in groups['consul_servers'] -%}
          - url: "http://{{ host }}:8500"
        {% endfor %}

    nomad:
      loadBalancer:
        servers:
        {% for host in groups['nomad_servers'] -%}
          - url: "http://{{ host }}:4646"
        {% endfor %}
