{
  "data_dir": "/opt/consul",
  "server": false,
  "advertise_addr": "{{ ansible_enp0s8.ipv4.address }}",
  "client_addr": "127.0.0.1 {{ ansible_enp0s8.ipv4.address }}",
  "enable_script_checks": true,
  "retry_join": [ "{{ hostvars.server1.ansible_host }}" ]
}
