data_dir  = "/opt/nomad"

advertise {
  {% set addr = ansible_enp0s8.ipv4.address -%}
  http = "{{ addr }}"
  rpc  = "{{ addr }}"
  serf = "{{ addr }}"
}

server {
  enabled          = true
  bootstrap_expect = 3
  raft_protocol    = 3
}